{% extends 'base.html.twig' %}

{% block title %}Hello Default2Controller!{% endblock %}

{% block body %}
    <h1>Hello ✅</h1>
{% endblock %}

{% block body_2 %}
    <h1>Block_2 </h1>
{% endblock %}
